<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <style>

        body {
            background-color: lightyellow;
        }

        #chat-log {
            color: red;
            font-size: large;
            top: 50%;
            text-align: right;
        }
        .div_box{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }

    </style>
</head>

<body>
<div class="div_box">
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
</div>

</body>

<script>
    var roomName = {{room_name_json}};
    var userName = {{username_json}};
    //var username = {{user.username}};
    //var chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + roomName + '/');
    var chatSocket = new WebSocket('ws://localhost:8000/ws/chat/' + roomName + '/');
    chatSocket.onopen = () => {
        console.log(`Connected to`);
    }

    chatSocket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        console.log(e.data);
        var ssuername = data['message'][1];
        var message = data['message'][0];
        var date = new Date(data['message'][2]);
        if(userName==ssuername){
            document.querySelector('#chat-log').style.textAlign =  "right";
            document.querySelector('#chat-log').value += (ssuername + ' : ' + message + '   '+ date+ '\n');
        }
        else{
            document.querySelector('#chat-log').value += (ssuername + ' : ' + message + '   '+ date+ '\n');
            document.querySelector('#chat-log').style.textAlign =  "left";
        }
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        var sender = userName;
        var msg = {
            'message': [message, sender, Date.now()]
        };
        chatSocket.send(JSON.stringify(msg));

        messageInputDom.value = '';
    };
</script>

</html>